* {
  font-family: Archivo, sans-serif;
  box-sizing: border-box;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}
html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  background-color: rgb(239 239 226);
  height: 100%;
}
h1 {
  font-size: 4.5rem;
  font-weight: 900;
}
h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}
p {
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-align: center;
}
.container {
  min-height: calc(100vh - 100px);
}
.navbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  margin-left: 7%;
  margin-right: 7%;
  align-items: center;
  padding-bottom: rem;
  z-index: 20;
}
.navbar.sticking {
  background-color: rgb(239 239 226);
  border-style: solid;
  border-right-width: 2px;
  border-left-width: 2px;
  border-bottom-width: 4px;
  border-bottom-left-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
  border-color: rgb(0 0 0);
}
ul {
  display: flex;
  text-decoration: none;
}
li {
  list-style: none;
  padding: 10px;
}
a {
  font-size: 1.25rem;
  text-decoration: none;
  color: black;
}
ul li a:hover {
  color: rgba(187, 141, 246, 0.7);
}
a:visited {
  color: black;
}
ul li a {
  position: relative;
}
ul li a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;

  height: 0.2rem;
  background-color: rgb(255 97 47);
  transition: 0.25s ease-out;
}
ul li a:hover::before {
  width: 100%;
  left: 0;
}
.navbar-links.active-link {
  color: rgb(187, 141, 246);
  font-weight: bold;
}
.navbar-links.active-link::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;

  height: 0.2rem;
  background-color: rgb(255 97 47);
  transition: 0.25s ease-out;
}
.navbar-links.active-link::before {
  width: 100%;
  left: 0;
}
.contact-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.insta-link {
  background: none;
  border: none;
  font-size: 20px;
}
.download-link {
  padding-right: 2rem;
}
.introduction {
  background-color: rgb(255 197 47);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 75%;
  border-style: solid;
  border-color: black;
  border-width: 8px;
  border-radius: 1.5rem;
  height: 85vh;
  align-self: center;
  text-align: center;
  justify-self: center;
}
.name {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(239 239 226);
  width: 90%;
  height: 60%;
  justify-self: center;
  align-self: center;
  border-style: solid;
  border-color: black;
  border-width: 4px;
  border-radius: 0.75rem;
}
.name h1 {
  font-size: 10vw;
  line-height: 1;
}
.about-me-header {
  position: relative;
  z-index: 2;
  background-color: rgb(255 197 47);
  padding-bottom: 20px;
  padding-top: 30px;
  margin-right: 0;
  width: 20rem;
  margin-bottom: 0;
  margin-left: 3rem;
  font-size: 3rem;
  font-weight: 600;
  border-style: solid;
  border-bottom: 0;
  border-color: black;
  border-width: 8px;
  border-radius: 1.5rem 1.5rem 0 0;
  text-align: center;
  transform: translateY(8px);
}
.about-me-header i {
  font-size: 3rem;
  margin-right: 30px;
}
.about-me {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-top: 0;
  margin-top: 0;
  background-color: rgb(255 197 47);
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: space-evenly;
  border-style: solid;
  border-color: black;
  border-top: 0;
  border-width: 8px;
  border-radius: 1.5rem;
}

.about-me p {
  background-color: rgb(208 180 244);
  height: 100%;
  width: 50%;
  font-size: 1rem;
  line-height: 1.5rem;
  border-style: solid;
  border-width: 8px;
  border-radius: 1rem;
  padding: 20px;
  text-align: center;
  margin-right: 0;
  margin-bottom: 20px;
  z-index: 3;
}
.about-me-p-mobile {
  display: none;
}
.my-pic {
  width: 30%;
  border-radius: 2rem;
  padding-right: 3rem;
}
.about-me-text {
  display: flex;
  align-items: center;
  padding: 2rem;
}
.intrests {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.intrests h1 {
  font-size: 1.25rem;
  padding: 2px;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  background-color: rgb(255 97 47);
  border-style: solid;
  border-width: 8px;
  border-radius: 0 1rem 1rem 0;
  border-left: none;
  padding: 20px;
  transform: translate(-8px);
}
.skills-header {
  background-color: rgb(239 239 226);
  z-index: 2;
  position: absolute;
  bottom: -49px;
  z-index: 4;
  left: 0;
  width: 20vw;
  padding: 1rem;
  margin-right: 0;
  margin-left: 3%;
  font-size: 3rem;
  font-weight: 600;
  border-style: solid;
  border-bottom: 0;
  border-color: black;
  border-width: 8px;
  border-radius: 1.5rem 1.5rem 0 0;
  text-align: center;
}
.skills {
  margin-top: 20vh;
  margin-bottom: 20vh;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  text-align: center;
}
.skill {
  height: 79%;
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  text-align: center;
  border-style: solid;
  border-width: 6px;
  border-radius: 0.5rem;
  background-color: rgb(255 197 47);
}
.skill i {
  font-size: 7rem;
}
.skill img {
  width: 7rem;
}
.projects {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(208 180 244);
  margin-top: 3rem;
  border-style: solid;
  border-color: black;
  border-width: 8px;
  border-radius: 1.75rem;
  z-index: 1;
}
#Projects {
  position: relative;
}
.project {
  height: 625px;
}
.projects-header {
  position: absolute;
  background-color: rgba(208 180 244);
  align-self: center;
  text-align: center;
  top: -5.69rem;
  padding: 0.5rem;
  left: 49px;
  border-style: solid;
  border-bottom: 0;
  border-color: black;
  border-width: 8px;
  border-radius: 1.5rem 1.5rem 0 0;
  z-index: 5;
}
.send-message {
  background-color: rgb(239 239 226);
  display: flex;
  justify-content: space-around;
  margin-top: 5rem;
}
.send-message h1,
.send-message span {
  line-height: 3.5rem;
  font-size: 4rem;
  font-weight: 900;
}

.span-lets-talk {
  text-align: right;
  font-size: 2rem;
}
.elements-send-msg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.textarea {
  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
  overflow: hidden;
  border-style: solid;
  border-color: black;
  border-width: 4px;
  border-radius: 0.125rem;
  padding: 0.5rem;
}
.textarea::placeholder {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1rem;
  opacity: 0.8;
}
#Name {
  width: 30rem;
  height: 2.5rem;
}
#Email {
  width: 30rem;
  height: 2.5rem;
}
#Message {
  width: 30rem;
  height: 15rem;
}
.elements-send-msg {
  line-height: 02px;
}
.submit {
  background-color: rgb(255 197 47);
  width: 30%;
  align-self: flex-end;
  border-style: solid;
  border-color: black;
  border-width: 4px;
  font-size: 1rem;
  border-radius: 0.125rem;
}
.submit:hover {
  cursor: pointer;
}
footer {
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: 7%;
  margin-right: 7%;
  align-items: center;
  background-color: rgb(255 197 47);
  border-style: solid;
  border-right-width: 2px;
  border-left-width: 2px;
  border-top-width: 4px;
  border-bottom: 0;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  border-color: rgb(0 0 0);
}
footer p {
  font-size: 0.75rem;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navbar {
    display: none;
  }
  .container {
    width: 100vw;
    height: 100%;
  }
  .introduction {
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    justify-self: center;
    width: 95vw;
  }
  .myname h1 {
    font-size: 5rem;
    margin: 1rem;
  }
  .myname h2 {
    margin-top: 3rem;
    font-size: 2rem;
  }
  #Home p {
    font-size: 0.7rem;
    line-height: 1rem;
  }
  .about-me-header {
    position: static;
    width: 95vw;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 2rem;
  }
  .about-me-header i {
    font-size: 2rem;
  }
  .about-me {
    flex-direction: column;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 95vw;
    height: 100%;
    border-bottom: 0;
  }
  .about-me-text {
    width: 95vw;
    flex-direction: column;
  }
  .about-me-p {
    display: none;
  }
  .about-me-p-mobile {
    display: flex;
  }
  .about-me-text p {
    font-size: rem;
    width: 85vw;
    border-width: 4px;
  }
  .intrests {
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
  }
  .intrests h1 {
    align-self: center;
    border-left-style: solid;
    border-left-width: 8px;
    font-size: 1rem;
    width: 85vw;
    border-radius: 1rem;
    position: static;
    margin-left: 1rem;
  }
  .my-pic {
    padding: 0;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }
  .skills-header {
    position: static;
    width: 95vw;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 2rem;
  }
  .skills-header i {
    font-size: 2rem;
  }
  .skills {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .skill {
    height: 25vh;
    width: 40vw;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    text-align: center;
    border-style: solid;
    border-width: 6px;
    border-radius: 0.5rem;
    background-color: rgb(255 197 47);
  }
  .skill i {
    font-size: 4rem;
    margin: 0;
  }
  .skill img {
    width: 4rem;
    margin: 0.9rem;
  }
  .projects-header {
    position: static;
    width: 95vw;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 2rem;
  }

  .projects {
    margin-top: 0;
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 95vw;
    margin-left: 0.5rem;
  }
  .send-message {
    margin-top: 2rem;
  }
  .elements-send-msg {
    align-items: center;
    width: 95vw;
  }
  #Name {
    width: 95vw;
  }
  #Email {
    width: 95vw;
  }
  #Message {
    width: 95vw;
  }
  .send-message {
    flex-direction: column;
    align-items: center;
    justify-self: center;
  }
  .send-message h1,
  .send-message span {
    line-height: 2rem;
    font-size: 2rem;
    font-weight: 900;
  }
  footer {
    margin-left: 0;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    border-top: solid 4px black;
    border-radius: 0;
  }
  .download-link {
    padding: 0;
  }
}
